@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  line-height: 3;
}

p {
  line-height: 1.5;
}

body {
  background: white;
}

#intro,
.feature,
.it_feature .testimonial {
  font-family: monospace, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature_content {
    order: 2;
  }

  .it_feature:nth-of-type(odd) .feature_content {
    order: 2;
  }
}

.title_text,
.feature_subtitle_text {
  color: #1a2f44;
}
.content_text {
  color: #485564;
}
.feature_title {
  text-transform: uppercase;
  color: #1c61ce;
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
